@media only screen and (min-width: 37em) {

    h1 {

        font-size: 50px
            /* x.xrem  (rem is a unit of measure) */
        ;

    }

    h2 {
        font-size: 30px
            /* x.xrem */
        ;

    }

    img {

        max-width: 100px;

    }

    nav button {

        display: none;

    }

    nav ul {
        display: flex;
    }

    nav ul li a {
        flex: 1 1 100%;
        border-right: 1px solid rgb(0, 0, 0, 0.3);
        padding: .8rem 1rem;
    }

    p {

        font-size: 1.3em;

    }

}