@media only screen and (min-width: 35em) {

    h1 {

        font-size: 40px
            /* x.xrem  (rem is a unit of measure) */
        ;

    }

    h2 {
        font-size: 25px
            /* x.xrem */
        ;

    }

    #lgo {
        display: block;
        float: left;
        padding-top: 12px;
        margin: 0 2%;
    }

    p {

        font-size: 1.15em;

    }

    .navigation a {
        border-top: none;
    }

    .navigation {
        display: flex;
    }

    .navigation li {
        display: block;
        /* needed because of state in small view */
        flex: 1 1 100%;
        border-right: 1px solid rgb(0, 0, 0, 0.3);
    }

    .navigation li:first-child {
        display: none;
    }

}