/* CIT 230 - Assignment Portal CSS Template */
/* You may use #HEX or color names */

/* * is a wildcard referring to all elements. */
* {
    margin: 0;
    box-sizing: border-box;
}

header {
    margin: auto;
    width: 100%;
    padding: 5px;
    background-color: #316C99;
}

header img {
    max-width: 50px;
    float: left;
    padding-top: 12px;

}

main {
    max-width: 820px;
    margin: 0 auto;
}

.herodiv {
    width: 16em;
    margin: 10px auto;
    position: absolute;
}

section p {

    color: #951328;

}



.stats {
    position: absolute;
    top: 25px;
    right: 50px;
    background: radial-gradient(rgba(238, 238, 238, 0.671), rgba(118, 196, 255, 0.555));
    border: 1px solid #000;
    padding: 1.5rem;
    opacity: .8;
}



p,
div,
nav {

    font-size: 1em;
    font-family: 'Lato', sans-serif;

}

h1 {

    font-size: 30px
        /* x.xrem  (rem is a unit of measure) */
    ;
    font-family: 'Roboto', sans-serif;
    color: #FFF56D;
}

h2 {
    font-size: 20px
        /* x.xrem */
    ;
    font-family: 'Roboto', sans-serif;
    color: black;
}

#bnr {
    margin: 1em;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

#colord {

    background-color: #E13E58;
    display: none;

}

#color2 {

    color: #E13E58;

}

div h2 {
    color: #FFF56D;
}

footer {
    display: block;
    margin: 10px;
    background-color: #FFF23C;
    text-align: center;
    font-size: .8em;
    padding-top: 8px;
    padding-bottom: 8px;
}

.boxes {
    /*display: block;*/
    display: none;
    margin: 10px;
    border: 1px dashed #000;
    padding: 15px;
    background-color: #eee;
    color: #444;

}

#dv {
    display: block;
    margin: 10px;
    border: 1px solid#000;
    padding: 15px;
    background-color: #eee;
    color: #444;
    overflow: auto;

}

#vrtcl {
    float: right;

}

nav {
    background-color: #FFF23C;
    text-align: center;
    margin-bottom: 10px;
}

.menu {

    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: #9E9514;

}

.navigation {
    list-style: none;
    padding: 0;
}

.navigation li:first-child {
    display: block;
}

.navigation li {
    display: none;
}

.navigation a {
    display: block;
    padding: 0.75rem;
    text-decoration: none;
    border-top: 1px solid rgb(0, 0, 0, 0.3);
}

.navigation a:hover {
    background-color: #EEE241;
    color: #FF3C5B;
}

/* the onclick JS toggles the .repsonsive class from display none (.navigation li) to display block because the repsonsive class is added to the end of the class list like this in HTML Line #6.
  <ul class="navigation responsive">
  */
.responsive li {
    display: block;
}