/* CIT 230 - Assignment Portal CSS Template */
/* You may use #HEX or color names */

/* * is a wildcard referring to all elements. */
* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    line-height: 32px;
    font-family: serif
        /* Ubuntu, sans-serif */
    ;
    color: cornflowerblue
        /* #xxxxxx */
    ;
}

h1 h2 h3 h4 h5 h6 {
    font-family: 'Open Sans', sans-serif;

}

h1 {

    font-size: 50px
        /* x.xrem  (rem is a unit of measure) */
    ;
    color: aqua
        /* #xxxxxx */
    ;
}

h2 {
    font-size: 30px
        /* x.xrem */
    ;
    text-align: center;
    border-bottom: 1px solid #bbb;
}

header,
main,
footer {
    margin: 1.25rem auto;
    padding: .5rem;
    max-width: 1000px
        /* xxxpx (px = pixel is a unit of measure)  */
    ;
}

header,
footer,
footer a {
    text-align: center;
    background-color: green
        /* */
    ;
    color: whitesmoke;
}

header img {
    width: 200px
        /*  */
    ;
    height: auto;
    float: right;
}

footer {
    font-size: 15px
        /* smaller */
    ;
}